<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h2>FORUMS FOR'EM</h2>
    <br>
    <div class="content">
      <p>Welcome to Forums For'Em! Log in to create and interact with any forum you would like.</p>
      <br>
      <a href="/signup">Sign Up</a> or
      <a href="/login">Log In</a>
      </div>

  </div>
</div>
